{% extends 'base.html' %} {% block content %}

<h1 class="aboutus">What We're About</h1>
<hr />
<p class="intropara">At Scholar Stack, we recognize how important education is to everyone. We also understand that
    education isn't always equal. We've built a site that allows for self-paced individualized learning companied with a
    tutor so you can receive the most out of your learning
    experience. </p>



{% endblock %} {% block footer %}
<img src="https://i.imgur.com/L2k5RBN.png?1" class="footer-img" alt="garland banner of children" width="100%" />
{% endblock %}