{% extends 'base.html' %}
{% block content %}
<h1 class="profile-header">My Profile</h1>

<!-- <img src="https://s3.us-east-2.amazonaws.com/scholarstack/9532b0.jpeg"> -->
<div class="profile-index">
  <div class="profile">
    <form class="edit-profile" action="{% url 'edit_avatar' profile.id %}" enctype="multipart/form-data" method="POST"
      class="card-panel">
      {% csrf_token %}
      <div class="avatar">
        {% if profile.profile_avatar %}
        <img class="avatar-img responsive-img card-panel" src="{{profile.profile_avatar.url}}">
        {% else %}
        <img class="avatar-img responsive-img card-panel" src="https://i.imgur.com/qx38J6i.png">
        {% endif %}
        <input type="file" name="photo-file" />
      </div>
      <h3 style="font-size: 20px;margin:0;padding:0;text-align:center;">{{ profile.user }}</h3>
      <p style="text-align:center;padding:0;margin:0;color:#aaa;">{{ profile.status}}</p>
      <input type="submit" class="change-btn btn-primary" value="Change Avatar">
    </form>
  </div>
</div>

<hr />

{% if profile.status == 'S'%}
<form action="{% url 'create_task' profile.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
  {% csrf_token %}
  {{ task_form.as_p }}
  <input type="file" name="task_doc">
  <br><br>
  <input type="submit" class="btn" value="Create Task">
</form>

{% endif %}
</div>

<!-- <p>This user is a Tutor</p> -->
<p class="tasks">All Tasks Are Displayed Below</p>
{% for task in student_tasks %}
<div>
  <p>All Tasks for the student Are Displayed Below</p>
  <p>{{ task.author }}</p>
  <p>{{ task.title }}</p>
  <p>{{ task.field }}</p>
  <p>{{ task.level }}</p>
  <p>{{ task.body }}</p>
  <a href="{% url 'task_detail' task.id%}">See details</a>
</div>
{% endfor %}


{% if profile.status == 'T'%}
{% for task in tutor_tasks %}
<div>
  <p>All Tasks for the tutor Are Displayed Below</p>
  <p>{{ task.author }}</p>
  <p>{{ task.title }}</p>
  <p>{{ task.field }}</p>
  <p>{{ task.level }}</p>
  <p>{{ task.body }}</p>
  <a href="{% url 'task_detail' task.id%}">See details</a>

</div>

{% endfor %}
{% endif %}


{% endblock %}
{% block footer %}
<img src="https://i.imgur.com/L2k5RBN.png?1" class="footer-img" alt="garland banner of children" width="100%" />
{% endblock %}