{% extends 'base.html' %} {% block content %}
<h1>This is the index for profile.</h1>
<p>{{ user.profile }}</p>
<p>{{ profile.id }}</p>
<p>{{ profile.status }}</p>
<p>{{ user.user_name }}</p>
<p>{{ user.password }}</p>
<p>{{ profile.profile_avatar.url }} this is the avatar url</p>
{% if profile.profile_avatar %}
<img class="responsive-img card-panel" src="{{profile.profile_avatar.url}}">
{% else %}
<div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endif %}
<p>{{ profile.profile_avatar_set.first }}</p>
<p>{{ profile.profile_avatar_set.all }}</p>
<p>{{ user.profile }}</p>
<!-- <img src="https://s3.us-east-2.amazonaws.com/scholarstack/9532b0.jpeg"> -->

<form action="{% url 'edit_avatar' profile.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
  {% csrf_token %}
  <input type="file" name="photo-file">
  <br><br>
  <input type="submit" class="btn" value="Change Avatar">
</form>
{% if profile.status == 'S'%}
<!-- <p>This user is a student</p> -->
<form action="{% url 'create_task' profile.id %}" method="POST" class="card-panel">
  {% csrf_token %}
  {{ task_form.as_p }}
  <br><br>
  <input type="submit" class="btn" value="Create Task">
</form>
{% endif %}
<!-- <p>This user is a Tutor</p> -->
{% for task in student_tasks %}
<a href=""></a>
<div>
  <p>task is diplayed down bellow</p>
  <p>{{ task.author }}</p>
  <p>{{ task.title }}</p>
  <p>{{ task.field }}</p>
  <p>{{ task.level }}</p>
  <p>{{ task.body }}</p>
  <a href="{% url 'task_detail' task.id%}">See details</a>
</div>
{% endfor %}
{% endblock %}