{% extends 'base.html' %} {% block content %}

{% if profile.profile_avatar %}
<img class="responsive-img card-panel" src="{{profile.profile_avatar.url}}">
{% else %}
{% endif %}
<div class="task-card2">
    <!-- <h1></h1> -->
    <h3>{{task.title}}</h3>
    <small class="task-author-small">Homework posted by {{task.author.user}} - {{task.date_created}}</small>
    <br><br>
    <p>{{task.field}} - {{task.get_level_display}}</p>
    <p>{{task.body}}</p>
    <small></small>
</div>

{% for task_doc in task_docs %}
<img class="responsive-img card-panel" src="{{task_doc.url}}">
{% if task.author.user.id == user.id%}
<a class="edit-delete-task-pic-comment-a" href="{% url 'task_doc_delete' task_doc.id %}">Delete Image</a>
{% endif %}

{% endfor %}

<h3 style="text-align: center; margin-top: 15px;">Comments</h3>
<form action="{% url 'create_comment' task.id user.id %}" method="POST" class="card-panel">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <br><br>
    <input type="submit" class="btn" value="Create Comment">
</form>
{% if comments.count %}
{% for comment in comments %}
<div class="comment-card">
    <h4 class="comment-author" >{{comment.author}}</h4>
    <small>{{comment.date_created}}</small>
    <br><br>
    <p>{{comment.body}}</p>
    <!-- <p style="text-align: center;">{{comment.date_created}}</p> -->


    {% if comment.author.id == user.id%}
    <a class="edit-delete-task-pic-comment-a" href="{% url 'comment_delete' comment.id %}">Delete Comment</a>
    <a class="edit-delete-task-pic-comment-a" href="{% url 'comment_update' comment.id %}">Edit Comment</a>
    {% endif %}

</div>

{%endfor%}
{% else %}
<p>No comments for this homework yet</p>
{% endif %}
<br><br>
{% if task.author.user.id == user.id%}
<a class="edit-delete-task-pic-comment-a" href="{% url 'task_update' task.id %}">Edit Homework</a>
<a class="edit-delete-task-pic-comment-a" href="{% url 'task_delete' task.id %}">Homework Completed / Delete</a>
{% endif %}

{% endblock %}