{% extends 'base.html' %} {% block content %}
<h1>you landed on task_detail.html</h1>
<h3>Profile</h3>
<p>{{user}}</p>
<p>{{profile.status}}</p>

{% if profile.profile_avatar %}
<img class="responsive-img card-panel" src="{{profile.profile_avatar.url}}">
{% else %}
<div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endif %}
<h3>Task</h3>
<p>{{task.author.user}}</p>
<p>{{task.title}}</p>
<p>{{task.field}}</p>
<p>{{task.level}}</p>
<p>{{task.body}}</p>
<p>{{task.date_created}}</p>

<h3>Comments</h3>

<form action="{% url 'create_comment' task.id user.id %}" method="POST" class="card-panel">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <br><br>
    <input type="submit" class="btn" value="Create Comment">
</form>

{% for comment in comments %}
<p>{{comment.id}} This is comment.id</p>
<p>{{comment.author}}</p>
<p>{{comment.body}}</p>
<p>{{comment.date_created}}</p>
{% if comment.author.id == user.id%}
<a href="{% url 'comment_delete' comment.id %}">Delete Comment</a>
<a href="{% url 'comment_update' comment.id %}">Edit Comment</a>
{% endif %}
{%endfor%}

<br><br>
{% if task.author.user.id == user.id%}
<a href="{% url 'task_update' task.id %}">Edit Task</a>
<a href="{% url 'task_delete' task.id %}">Homework Completed / Delete</a>
{% endif %}

{% endblock %}
