{% extends 'base.html' %} {% block content %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<div class="overlay">
    <form class="sign-form" method="POST" action="{% url 'signup' %}">
        <div class="con">
            <header class="sign-info">
                <h1>Sign Up</h1>
            </header>
            <div class="form-content">
                {% csrf_token %} {{ form.as_ul }}
            </div>
            <input type="submit" class="btn-signup btn-outline-primary" value="Sign Up">
        </div>
    </form>
</div>
{% endblock %} {% block footer %}
<img src="https://i.imgur.com/L2k5RBN.png?1" class="footer-img" alt="garland banner of children" width="100%" />
{% endblock %}