@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

/* base */

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color:white;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: whitesmoke;
}

header.navbar-fixed {
    margin-bottom: 40px;
}

nav .nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 3rem;
    padding-left: 3rem;
}

nav .nav-wrapper ul {
    margin: 0;
    padding: 0;
}

nav .nav-wrapper img.profile-avatar {
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

main {
    padding-top: 10px;
    flex-grow: 1;
    /* flex: 1 0 auto; */
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
    width: 80%;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
   
}

li {
    display: inline;
    padding: 20px;
}

li>a {
    color: #374785;
    font-weight: 900;
    font-size: 23px;
    
}

/* about */

.aboutus {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #374785;
    padding: 100px;
    background-image: url('https://images.unsplash.com/photo-1501349800519-48093d60bde0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 2px solid #24305e;
}

.intropara {
    text-align: center;
    font-size: 27px;
}

/* login  */


.login-form {
    color: #374785;
    width: 100%;
    margin: auto;
    max-width: 475px;
    min-height: 450px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    border-radius: 20px;
}

.login-form::before {
    content: "";
    background-image: url('https://images.unsplash.com/photo-1471970471555-19d4b113e9ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    border-radius: 20px;
}

.login-info {
    padding-left: 20px;
    text-align: center;
    position: relative;
    color: #374785;
    font-size: 20px;
    line-height: 0.9;
    align-items: center;
    justify-content: center;
}

input {
    width: 100%;
    padding: 5px;
    resize: vertical;
  
}

.btn {
    width: 45%;
    margin: auto;
    justify-content: center;
    position: relative;
    display: flex; 
    border: 2px solid #303c6c;
    background-color: white;
    color: #374785;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

.btn:hover {
    color: #374785;
    background-color: #F76C6C;
    border: 2px solid #374785;
}

/* sign up */

.sign-form {
   padding-top: 20px;
   color: #374785;
   width: 100%;
   margin: auto;
   max-width: 505px;
    min-height: 350px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    border-radius: 20px;
}

.sign-form::before {
    content: " ";
    background-image: url('https://images.unsplash.com/photo-1471970471555-19d4b113e9ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    border-radius: 20px;
    z-index: 1;
}

.sign-form .con {
    z-index: 2;
}

.sign-info {
    padding-left: 20px;
    text-align: center;
    color: #374785;
    font-size: 20px;
    line-height: 0.9;
  
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 70%;
    color: #374785;
    padding: 0;
    font-size: 15px;
    
}


.form-content li {
    width: 100%;
    
}

.form-control {
    border: none;
}


span.helptext ul {
    width: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
    color: #374785;
    
    
}

span.helptext ul li {
    width: 80%;
    line-height: 15px;  
    padding-top: 10px;
    padding-bottom: 10px; 
}

.btn-signup {
    width: 25%;
    margin-left: 40%;
    border: 2px solid #303c6c;
    background-color: white;
    color: #374785;
    padding: 10px 10px;
    margin-bottom: 15px;
    font-size: 16px
}

.btn-signup:hover {
    background-color: rgba(248, 233, 161, .3);
    color: #24305E;
    border: 2px solid #374785;
}


/* home */

.homepage {
    z-index: 2;
    flex: 1;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.homepage::before {
    content: " ";
    background-image: url('https://i.imgur.com/IRK1Z0Y.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    z-index: -1;
}

/* profile index */
.profile-header {
    text-align: center;
}

.profile-index {
    display: flex;
}

.profile-index .profile {
    display: flex;
    padding-bottom: 2rem;
    width: 100%;
}

.profile-index .edit-profile {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.edit-profile .avatar {
    position: relative;
    width: 128px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 0.25rem;
}

.avatar .avatar-img {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
}

.avatar::after {
    content: "";
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.avatar:hover::after {
    opacity: 1;
    content: "Change your avatar";
    background-color: rgba(0, 0, 0, 0.5);
}

.avatar input[type="file"] {
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.avatar:hover {
    cursor: pointer;
}

.edit-profile input[type="submit"] {
    width: inherit;
}

.change-btn {
    background-color: whitesmoke;
    border: 1px solid grey;
    color: slategray;
    border-radius: 3px;
    
}

.change-btn:hover {
    background-color: whitesmoke; /* Green */
    color: slategray;
}

.tasks {
    text-align: center;
    padding-top: 15px;
    font-weight: 900;
    font-size: 30px;
}

.card-panel {
    margin-left: 25%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.class-detail {
    margin: 25px;
    text-align: center;
    padding-top: 20px;
}

.delete-confirm {
    text-align: center;
    padding: 20px;
}

.task-card {
    padding: 0.5rem;
    margin-top: 1rem;
    box-shadow: 5px 5px 10px #888888;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    background-color: #b0d5e7;
}

.task-card h1 {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 0.025;
    color: #1a1a1a;
    padding: 0;
    margin: 0;
}

.task-card h3 {
    font-size: 1rem;
    color: #718096;
}

.task-card + .task-card {
    margin-top: 1rem;
    
}

.task-card2 {
    background-color: #b0d5e7;
    margin-top: 1rem;
    box-shadow: 5px 5px 10px #888888;
    width: 50%;
    margin-left: 25%;
}
.task-card2 h1 {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 0.025;
    color: #1a1a1a;
    padding: 0;
    margin: 0;
}

.task-card2 h2 {
    font-size: 1.2rem;
    color: #718096;
}

.comment-card {
    padding: 0.5rem;
    margin-top: 1rem;
    box-shadow: 5px 5px 10px #888888;
    background-color: #b0d5e7;
    width: 50%;
    margin-left: 24%;

}

.comment-edit {
    margin-top: 1rem;
    padding: 40px;
    box-shadow: 5px 5px 10px #888888;
    width: 50%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    background-color: #b0d5e7;
}

.comment-edit > * + * {
    margin-top: 1rem;
}

.comment-edit table {
    width: 100%;
}

.comment-edit table th label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.comment-edit form {
    display: flex;
    flex-direction: column;

}

.comment-edit form > * + * {
    margin-top: 1rem;
}

.comment-edit form input[type="submit"] {
    width: 45%;
}
